.Page {
  height: 100vh%;
  width: 100vh%;
  text-align: center;
  transition: all 0.75s;
  padding: 5rem 1rem 5rem 1rem;
}

h1 {
  padding: 0 0 .15rem 0;
}

h2 {
  padding: 0 0 .5rem 0;
}

.background_image {
  background: #c4c4c4;
  padding: .30rem .15rem 0 .15rem;
}

img {
  width: 100%;
  padding: 0 .25rem;
}

.ModelViewer {
  width: auto;
  height: auto;
}

.rigging {
  display: flex;
  width: 100vh%;
}

.game {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

video {
  width: 100%;
  flex-shrink: 1;
}

.course {
  display: flex;
  width: 100vh%;
}

.blender {
  max-width: 7rem;
  margin: 0 .5rem;
}

.vertical-timeline-element--work {
  min-height: 50%;
}

.vertical-timeline-element-date {
  color: #ffffff;
}

.vertical-timeline-element-title {
  text-align: left;
  color: #ffffff;
  padding: 1rem 0;
}

.vertical-timeline-element-subtitle {
  text-align: left;
  color: #ffffff;
  padding: 1rem 0;
}

.row {
  display: flex;
  text-align: center;
}

.row_blender {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
